<div *ngIf="stores.length" class="heading">{{ heading }}</div>
<div>
  <ion-slides [slidesPerView]="2">

    <ion-slide *ngFor="let store of stores">
      <ion-card class="store" [navPush]="storePage" [navParams]="store">
        <img [src]="store.thumbnail" />
        <div class="rating">{{ store.rating }} &hearts;</div>
        <div class="distance">{{ store.distance | distance }}</div>
        <ion-card-content>
          <ion-card-title class="name">{{ store.name }}</ion-card-title>
          <p class="address">{{ store.address }}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>   
    
  </ion-slides>
</div>